[2019-12-09 21:00] pearu opened #6 "gcc triggers internal compiler error when using -std=c++14 or -std=c++17"
Issue:
g++ fails with internal compiler error.

Consider a C++ program:
[code]
Which triggers the gcc bug:
[code]

Notice that the same compilation error happens with the following commands
[code]
but not with
[code]

Also note that g++ from Debian has a fix to the above bug, see https://bugs.debian.org/cgi-bin/bugreport.cgi?bug=882855 .

<br/>
Environment (<code>conda list</code>):
<details>

[co

[2020-01-07 04:32] isuruf opened #9 "Port #7 to libgcc-and-libstdcxx-9 branch"
cc @beckermr

[2020-01-07 12:53] #9 closed

[2020-01-07 15:58] beckermr opened #12 "team update"
@conda-forge-admin, please update team

[2020-01-07 15:58] conda-forge-linter commented on #12
Hi! This is the friendly automated conda-forge-webservice.

I just wanted to let you know that I updated the team with maintainers from master.

[2020-01-07 17:17] #12 closed

[2020-01-10 05:20] beckermr opened #14 "re-port openmp changes from #13 to 9.2.0"
Issue:

<br/>
Environment (<code>conda list</code>):
<details>

[code]
</details>

<br/>
Details about  <code>conda</code> and system ( <code>conda info</code> ):
<details>

[code]
</details>

[2020-01-10 06:56] isuruf commented on #14
Done in #15

[2020-01-10 06:56] #14 closed

[2020-04-16 18:11] timsnyder opened #18 "Update to 9.x"
@isuruf and @beckermr,  My team is hitting a bug in GCC 7.3 on linux and we'd like to see conda-forge update to something that has it fixed.  I see that you have some work in progress on the https://github.com/conda-forge/ctng-compilers-feedstock/tree/libgcc-and-libstdcxx-9 branch to get things updated to 9.2.

What's left to be done there?  I don't see gcc 9.x packages on anaconda.org yet.  Perha

[2020-04-16 18:17] isuruf commented on #18
That's just for libgcc and libstdcxx. To get a full gcc build, we need to update https://github.com/conda-forge/crosstool-ng-feedstock/blob/master/recipe/meta.yaml to a recent version of crosstool-ng and port the patches in the continuum org's fork of crosstool-ng.

[2020-04-16 18:18] beckermr commented on #18
We'd also want to bump gfortran on osx at the same time.

[2020-04-16 18:20] beckermr commented on #18
@timsnyder If you want to work on this, lots of help is welcome!

[2020-04-16 18:26] timsnyder commented on #18
OK.  @bdutro-sv is working on this with me.

[2020-04-16 18:27] timsnyder commented on #18
@mingwandroid, any chance you've looked at updating crosstool-ng that we should leverage?

[2020-04-16 18:51] bdutro-sv commented on #18
@beckermr it looks like crosstool-ng dropped support for OS X: https://crosstool-ng.github.io/2019/04/13/release-1.24.0.html

[2020-04-16 19:08] timsnyder opened #19 "Bump comp7 to gcc7.5"
As I mentioned in #18 , we're running into [a bug in gcc 7.3](https://gcc.gnu.org/bugzilla/show_bug.cgi?id=85113)

Would a PR that bumped 7.3 to 7.5 be able to be accepted?

[2020-04-16 19:15] isuruf commented on #19
Yes, but `crosstool-ng` has to be updated regardless. See https://github.com/ContinuumIO/crosstool-ng/tree/d158534576f3638bf1d123cdf2c5ea96fa810309/packages/gcc

[2020-04-16 19:32] timsnyder commented on #19
Thanks for the pointer @isuruf.  I was trying to remember where all of those patches were.

I see that in the 1.24 conda-forge package for crosstool-ng that it pulled the code out of issuruf/crosstool-ng.  Should we possibly make a conda-forge/crosstool-ng or does that start getting into CFEP territory (maintaining a fork of non cf repo)?

[2020-04-16 19:36] beckermr commented on #18
We do not use crosstool-ng on osx.

We keep separate builds of just gfortran here since we don't need all of gcc

https://github.com/conda-forge/gfortran_osx-64-feedstock
https://github.com/conda-forge/gfortran_impl_osx-64-feedstock

These need to be updated to 9.

[2020-04-16 19:39] isuruf commented on #19
https://github.com/conda-forge/crosstool-ng

[2020-05-01 04:14] jeffwong-nflx opened #20 "Difference between _openmp_mutex llvm vs gnu?"
On the conda-forge site https://anaconda.org/conda-forge/_openmp_mutex/files

The latest version is 4.5.1, but it's suffixed with llvm. There's an older version 4.5.0 but only for gnu. I have been installing the latest one with llvm, but wondering if I should be using the older one.

I am compiling a C++ program with gcc and openmp (libgomp) which makes me feel like I should be using 4.5.0_gnu. Is

[2020-05-11 17:51] isuruf commented on #19
@timsnyder, any news on this?

[2020-05-11 21:36] timsnyder commented on #19
We were able to get our stuff to build using clang on linux and this became a lower priority for us.  I'd still like to help get gcc bumped to newer but I need to make progress on other things first.

[2020-05-12 11:50] beckermr opened #24 "fix HOST stuff"
This issue is an xref to https://github.com/AnacondaRecipes/aggregate/pull/172

[2020-05-12 11:51] beckermr commented on #24
@timsnyder

[2020-05-14 18:05] isuruf commented on #19
Fixed now

[2020-05-14 18:05] #19 closed

[2020-05-19 21:01] beckermr opened #25 "very strange linker error"
Issue: With the environment below, I cannot compile a simple test program. Once I `conda update -all` to a new env, getting the latest builds of the compilers, it works.

The updated env is

<details>

[code]
</details>

<br/>
Environment (<code>conda list</code>):
<details>

[code]
</details>

<br/>
Details about  <code>conda</code> and system ( <code>conda info</code> ):
<details>

[code]
</deta

[2020-05-19 21:02] beckermr commented on #25
cc @esheldon @conda-forge/core

[2020-05-19 21:03] beckermr commented on #25
The error is that ld cannot find `-lgcc`.

[2020-05-24 17:24] scopatz commented on #25
Is gcc a library?

[2020-06-03 19:16] xhochy opened #26 "ld doesn't find quadmath with latest ctng build (7)"
This is working:

[code]

While this fails:

[code]

with the following error:

[code]

[2020-06-03 19:49] isuruf commented on #26
@beckermr, we need to fix the `libgcc-and-libstdcxx-9` branch. Do you have time to send a PR? If not, I'll have to mark the package as broken until this is fixed. (At least on x86_64)

[2020-06-03 19:50] xhochy commented on #26
For the failing one:

[code]

For the working one:

[code]

[2020-06-03 19:52] beckermr commented on #26
Yes. I can send a pr. Can we confirm the versions we did push work first?

[2020-06-03 19:54] beckermr commented on #26
We'll want version 7.5.0 of everything

[2020-06-03 19:55] isuruf commented on #26
Yes, it does work

[2020-06-03 19:56] beckermr commented on #26
great! PR coming.

[2020-06-03 19:56] isuruf commented on #26
Here's what we need to do,
1. Build the new compilers so that they have run_constrains like `libgcc-ng !=7.3,8.3,9.1,9.2`
2. Build `libgcc-and-libstdcxx` branch with the same.
3. Patch repodata so that older `libgcc-ng` conflicts with `sysroot_linux-64`

[2020-06-03 19:57] isuruf commented on #26
We should mark the new builds as broken, since we need to do 1. anyway.

[2020-06-03 20:03] isuruf commented on #26
I'm sending a PR to cf-mark-broken

[2020-06-03 20:27] isuruf commented on #26
We should move those symlinks from the `libgcc-ng` package to `gcc_impl` package.

[2020-06-03 20:28] beckermr commented on #26
Yes they don't need to be around unless we are building IIUIC.

[2020-06-04 19:26] beckermr commented on #26
ok @xhochy a compiler with a fix is live. Care to test it out?

[2020-06-04 20:21] beckermr commented on #26
alright. I test this and it works. I am going to close this issue for now.

[2020-06-04 20:21] #26 closed

[2020-06-04 22:13] isuruf opened #28 "CDT packages don't work"
The new compilers work fine now, but the CDT packages don't work now.

[2020-06-04 22:32] isuruf commented on #28
@beckermr, CDTs end up in `$PREFIX/x86_64-conda_cos6-linux-gnu`, but the compiler only looks at `$PREFIX/x86_64-conda-linux-gnu`

[2020-06-04 22:32] beckermr commented on #28
Can you explain?

[2020-06-04 22:32] beckermr commented on #28
Ohhhh

[2020-06-04 22:32] beckermr commented on #28
Huh?

[2020-06-04 22:33] beckermr commented on #28
The tests in them would preclude that.

[2020-06-04 22:33] isuruf commented on #28
What do you mean?

[2020-06-04 22:35] beckermr commented on #28
We have tests in the sysroot packages that test that the libs are in the right spot on install.

[2020-06-04 22:37] isuruf commented on #28
I'm not talking about the libs in the sysroot package. I mean the libs in the CDT packages. For eg: https://anaconda.org/conda-forge/libxt-cos7-ppc64le

[2020-06-04 23:14] beckermr commented on #28
Ohhhh crap.

[2020-06-04 23:15] beckermr commented on #28
An automated migration for those will be a nightmare.

[2020-06-04 23:16] isuruf commented on #28
We don't even build CDTs for x86_64. We just use the ones from defaults.

[2020-06-04 23:18] isuruf commented on #28
I hate saying this given the good work you've put into this, but shall we mark the new compilers as broken for a while?

[2020-06-04 23:26] beckermr commented on #28
That’s not an option for me. I have colleagues depending on this.

[2020-06-04 23:32] isuruf commented on #28
We'll be breaking all recipes using CDTs though.

[2020-06-04 23:34] beckermr commented on #28
Not if we put in symlinks that replicate the old sysroot. We now have an excellent reason to keep the old ones.

[2020-06-04 23:34] isuruf commented on #28
How is that going to work?

[2020-06-04 23:36] beckermr commented on #28
What do you mean? We adjust the linux sysroot packages to use the old sysroot names and then add a symlink to the new one.

[2020-06-04 23:37] isuruf commented on #28
Do you mean `2.17` would also be in `cos6`?

[2020-06-05 00:13] beckermr commented on #28
Yep why not. It is just a directory name. Actually pulling cos7 CDTs is a much bigger issue that I don't think we can solve.

[2020-06-05 00:27] isuruf commented on #28
Can you send a PR to fix sysroot_linux-64=2.12? I think that should be enough to solve the issues.

If we build the compilers with `sysroot_linux` with no `conda_cos6` folders as we have already done, the index.json will have `conda` files only. Then, we can actually have `sysroot_linux-64=2.17` with `conda_cos7` and cos7 CDTs.

[2020-06-05 00:33] beckermr commented on #28
Just to be clear, we’ll need symlinks from the compiler shim sysroot to the current one.

Also, should we be worried about mixing cdts between cos6 and cos7? Do we need to put in run constraints on say the sysroot package or some sort of centos cdt mutex?

[2020-06-05 00:40] isuruf commented on #28
Yes, we need to move the sysroot_linux-64's files to `conda_cos6` and add a symlink, `conda->conda_cos6`.

Not at the moment.

[2020-06-05 00:43] beckermr commented on #28
Ok if we are not worried about mixing cdts then I propose we stuff the cos7 sysroot in the cos6 path too. Otherwise people who use cos7 won’t have any CDTs at all.

[2020-06-05 00:45] isuruf commented on #28
What I mean is it's bad to mix CDTs, but we shouldn't worry about a mutex for now since we don't have any cos7 CDTs.

People who want to use cos7 should build CDTs for cos7.

[2020-06-05 00:56] beckermr commented on #28
Hmm ok. I’d be nice to have an answer for automatically generating the cdt packages.

[2020-06-05 01:00] beckermr commented on #28
Also we should have a story on a mutex before we ask ppl to build cdts

[2020-06-05 01:04] isuruf commented on #28
If you use `conda-build`, there's a kind of mutex because `{{ cdt('foo') }}` will be expanded to `foo_{{ cdt_name }}_{{ cdt_arch }}` and `cdt_name` is constant for a given run

[2020-06-05 01:05] beckermr commented on #28
Ah so we can set cdt name then. Sounds good.

[2020-06-05 01:09] beckermr commented on #28
Should we rename the kernel headers and sysroot packages to use the cdt jinja2 in order to make them be able to be selected by the same logic?

[2020-06-05 01:13] isuruf commented on #28
What would the run requirement for the compiler be then?

[2020-06-05 01:33] beckermr commented on #28
We could / should insert shim cdts for the sysroot that people can insert into the build section. These cdts would simply have a run dep on the correct sysroot version. The actual compiler packages would stay the same. This way people can make sure to use the same cdt version as they have for the libraries in the host section. Also, for cross compiling people can specify the sysroot they want by n

[2020-06-05 03:35] s22chan commented on #28
For the time being, can you remove the `main` label from

 linux-64/gxx_impl_linux-64-7.5.0-h64c220c_7 and  linux-64/gxx_impl_linux-64-7.5.0-h64c220c_8

packages since this is breaking builds clang builds that rely on CONDA_BUILD_SYSROOT being defined correctly by the compiler activation script.

[2020-06-05 03:41] beckermr commented on #28
I’m about to go to bed. We will fix this tomorrow morning for sure.

[2020-06-05 03:42] beckermr commented on #28
I’d you can send a pr to cf mark broken in the next 5 mins or so I can merge it.

[2020-06-05 03:49] s22chan commented on #28
you do that via anaconda.org or the CLI: https://docs.anaconda.com/anaconda-cloud/user-guide/tutorials/

see move labels

[2020-06-05 04:49] isuruf commented on #28
@s22chan, we use https://github.com/conda-forge/cf-mark-broken for it. Can you send a PR?

[2020-06-05 05:40] s22chan commented on #28
@isuruf this tool doesn't work (to remove a broken build from being in the conda solution set), since it only adds a broken label, but doesn't remove the main label

[2020-06-05 05:40] s22chan commented on #28
you can see that most of the sysroot packages and gxx_impl packages have both main and broken labels

[2020-06-05 12:59] beckermr commented on #28
see here: https://github.com/conda-forge/linux-sysroot-feedstock/pull/18

[2020-06-05 13:10] beckermr commented on #28
see here too: https://github.com/conda-forge/linux-sysroot-feedstock/pull/19

[2020-06-11 16:45] mattip commented on #6
PR gh-22 updated the compilers to gcc 7.5 (from the 7.3 used here in this issue), but that still hits this bug.

[2020-07-16 16:21] pradghos opened #31 "Query on tests / validation for conda gcc compilers for new architecture."
Hello,

I am trying to understand - what all tests and validation are recommended to bring up conda compiler for new architecture.
There are `test stage` in meta.yaml for gcc,g++ , others in `ctng-compilers-feedstock` and below test coverage in `build.sh`.
https://github.com/conda-forge/ctng-compilers-feedstock/blob/883e60a8f7b1b3d7b16e794605ee61a9541943a0/recipe/build.sh#L112
[code]
are above tes

[2020-07-16 16:50] isuruf commented on #31
If you can build this recipe, then it's fine. No need to run any new tests.

[2020-07-25 12:06] beckermr commented on #28
closing this one since the sysroot paths are now fixed!

[2020-07-25 12:06] #28 closed

[2020-07-31 18:16] brianv0 opened #36 "Linking issue with 9.3.0 build 11"
Issue:
I get linking errors against libquadmath

[2020-07-31T08:01:07.989183Z] /j/ws/stack-os-matrix/d318ecacbb/home/.conda/envs/lsst-scipipe-4d6ba77/bin/x86_64-conda_cos6-linux-gnu-c++ -o tests/decoratedImage -Wl,-rpath-link -Wl,/j/ws/stack-os-matrix/d318ecacbb/lsstsw/build/afw/lib:/j/ws/stack-os-matrix/d318ecacbb/lsstsw/stack/4d6ba77/Linux64/astshim/20.0.0+1/lib:/j/ws/stack-os-matrix/d318ecacbb/

[2020-08-01 04:12] beckermr commented on #36
cc @isuruf this looks somewhat serious and I'm stumped.

Should we pull the 9.3.0 builds for now?

[2020-08-01 04:50] isuruf commented on #36
https://github.com/conda-forge/ctng-compilers-feedstock/pull/37

[2020-08-01 09:58] beckermr commented on #36
Thank you!

[2020-08-01 14:49] isuruf commented on #36
@brianv0, can you confirm that this issue is fixed?

[2020-08-01 18:25] brianv0 commented on #36
awesome, running our CI right now, I'll get back to you today

[2020-08-03 19:49] brianv0 commented on #36
I still had the issue, but I'm a bit confused why. I did see `libquadmath.so.0`

[code]

Cleaned up version:

[code]

You'll see the line above with the env's lib directory:

`-Wl,-rpath=/lsstsw/miniconda/envs/lsst-scipipe-tickets-DM-26148.73733da/lib`

And we verify that libquadmath.so.0 is in that directory:
[code]

Do I need to adjust my flags?

[2020-08-03 19:58] isuruf commented on #36
Can you try looking at which files are different in the two environments?

[2020-08-04 01:38] beckermr commented on #36
@brianv0 can you ls -lah the quadmath SO's in lib? I'd be good to make sure the links and files are setup correctly.

[2020-08-04 03:39] beckermr commented on #36
Also which compilers are you using? I see conda_cos6 in the HOST. You should not be seeing this if you are using the latest compilers.

[2020-08-04 04:28] brianv0 commented on #36
[code]

[2020-08-04 10:46] beckermr commented on #36
Those builds are very old. They should work, but maybe they are broken. Can you try a builds `*_impl_linux-64` with build number 13 or 14?

[2020-08-04 10:53] beckermr commented on #36
also, what is pulling in this?

[code]

IDK where that other libgfortran comes from...

[2020-08-15 03:12] nehaljwani opened #40 "Wrong RPATH in libstdc++.so"
[code]

[2020-08-15 03:20] isuruf commented on #40
This is due to `binary_relocation` being turned off? Shall we edit the rpath to be `$ORIGIN`

cc @mingwandroid

[2020-08-15 05:35] #40 closed

[2020-08-15 22:28] isuruf commented on #40
Can you check that this issue is fixed?

[2020-08-16 00:03] nehaljwani commented on #40
Yes, I tested it. It works, Thank you!

[2020-09-10 20:27] beckermr opened #44 "solver not pulling latest build"
Issue:

The solver doesn't appear to pull the latest build

[code]

Here is what is available.

[code]

When you specify `gcc_impl_linux-64=7.5.0` at the command line, it works correctly.

Note that builds past 13 have extra and more complicated deps due to the cross-compiling PRs.

<br/>
Environment (<code>conda list</code>):
<details>

[code]
</details>

<br/>
Details about  <code>conda</code> a

[2020-09-10 20:27] beckermr commented on #44
cc @jjhelmus @leofang @isuruf

[2020-09-10 20:47] beckermr commented on #44
Note that mamba seems to come to a different solution

[code]

I think this is because mamba always maximizes build number ahead of other things? @wolfv any comments here?

[2020-09-11 17:15] beckermr commented on #44
A workaround for this issue is to use strict channel priority.

[2020-09-11 17:50] beckermr commented on #44
strict channel priority does not appear to solve this issue

[code]

in otherwords, the offending builds are ours.

cc @isuruf

[2020-09-11 17:52] wolfv commented on #44
yep, mamba always prefers higher build numbers if there is no conflict.

[2020-09-11 17:53] isuruf commented on #44
@beckermr, you are talking about a different issue than @leofang who was talking about pulling in a gcc build with the old sysroot.

[2020-09-11 17:54] beckermr commented on #44
Ahhhhhhh! Thank you @isuruf!

[2020-09-11 17:55] isuruf commented on #44
To reproduce @leofang's issue, you need to add `defaults` and then have `flexible` channel priority

[2020-09-11 17:56] beckermr commented on #44
Right. I do think the separate issue here matters though. Any thoughts?

[2020-09-11 17:57] isuruf commented on #44
I agree, but that's not the most pressing issue right now.

[2020-09-11 18:00] beckermr commented on #44
Sure. I am not in a rush either. I just wanted to make sure this issue should remain open.

[2021-01-24 00:32] nehaljwani opened #48 "There is something obscurely wrong with gcc 9.3.0 for ppc64le"
Steps to reproduce (on a powerpc box):
[code]

Another pruned example (from mongodb build system):
[code]

This is also reproducible using the `cross compilers` + `qemu-static` + `binfmt_misc` + `QEMU_LD_PREFIX`. The error is simply:
[code]

Not sure if this has been reported upstream, as I am able to reproduce this only with this combo: `-fno-plt` + `-fuse-ld=gold`. If I remove either, the proble

[2021-01-24 00:33] nehaljwani commented on #48
I'm planning to report it upstream, waiting on BZ account creation at the moment.

@mingwandroid have you ever come across this problem before?

[2021-01-24 17:24] mingwandroid commented on #48
I haven't come across it, no. I am working on compilers at the moment though. I am looking at 10.2 as the base-line.

[2021-01-24 21:41] pearu opened #49 "[_openmp_mutex] How to enforce GNU OpenMP?"
- [x] I read [the conda-forge documentation](https://conda-forge.org/docs/user/introduction.html#how-can-i-install-packages-from-conda-forge) and could not find the solution for my problem there.

Issue:
While [Switching OpenMP implementation](https://conda-forge.org/docs/maintainer/knowledge_base.html#switching-openmp-implementation) advocates using `conda install _openmp_mutex=*=*_gnu`, this lea

[2021-01-24 21:45] isuruf commented on #49
pytorch requires MKL which requires Intel/LLVM openmp and we force one environment to have only one OpenMP implementation only.

[2021-01-24 21:45] #49 closed

[2021-01-24 21:52] pearu commented on #49
The current behaviour leads to
[code]
This used to work at least a month ago.. and, IIUC, the issue is related to conda environment rather than to a pytorch build.

[2021-01-24 22:07] isuruf commented on #49
pytorch wants both GNU and Intel OpenMP?

[2021-01-24 22:09] pearu commented on #49
good question, I have not found yet where `acc_get_device_type` sneaks in..

[2021-01-25 08:31] pearu commented on #49
It turns out to be a pytorch/cuda issue: one of its components links against `libcupti_static.a` which references `acc_get_device_type@@OACC_2.0`. A fix is to build pytorch with `USE_KINETO=0`.

[2021-02-04 13:54] pearu commented on #49
@isuruf, the following script
[code]
illustrates that having the `mkl` package in conda environment breaks any program using GNU OpenMP, IIUC.

I am uncertain which component of the conda world is causing this.

[2021-02-07 18:17] #18 closed

[2021-07-15 11:15] beckermr opened #54 "build gfortran for osx with other gcc compilers?"
Right now we have separate gfortran builds for osx in different feedstocks. If we are moving to a gcc feedstock, we should probably archive those builds and move them to the gcc feedstock. One thing I don't understand is if we need two builds of gfortran, one meant for the clang stack and the other mean for a gcc stack for osx.

[2021-07-15 11:23] isuruf commented on #54
gfortran build for osx are pretty special, because it builds gfortran only and skips C/C++. We don't need two builds of gfortran, but I don't think we should go for a gcc stack for osx. We should stay with one C++ standard library for one platform to keep the CI matrix sane.

[2021-07-16 03:56] luzpaz opened #55 "libstdcxx-ng needs to be updated (since it's breaking appimages that are being built using conda)"
https://anaconda.org/conda-forge/libstdcxx-ng needs to be updated to v6.0.29
The problem is that the current version 6.0.28 is breaking all [AppImages](https://appimage.org/) we are building for FreeCAD.
https://github.com/FreeCAD/FreeCAD-Bundle/issues/73#issuecomment-860801975

cc @looooo @sgrogan @probonopd

[2021-07-23 03:34] #55 closed

[2021-07-27 22:33] AntoinePrv opened #60 "Should libgcc-ng be the same version as gcc?"
- [x] I read [the conda-forge documentation](https://conda-forge.org/docs/user/introduction.html#how-can-i-install-packages-from-conda-forge) and could not find the solution for my problem there.

Issue:
I use the `cxx-compiler` (gcc 9.3, linux-64, micromamba) to compile and sanitize (with `-fsanitize=address`) some code, which used to work well.
Now, installing `cxx-compiler` installs gcc 9.3 but

[2021-07-28 03:29] isuruf commented on #60
Looks like `libasan.so` bumped its SOVERSION which hasn't happened in forever so we didn't expect this. Are you using these in  for a conda package built by conda-build or outside of conda-build?

[2021-07-28 13:19] AntoinePrv commented on #60
Outside `conda-build`.

[2021-07-29 11:12] isuruf commented on #60
Should be fixed now. For gcc<=9.3.0, `libgcc-ng` is pinned to the same version as `gcc_impl_*`. For gcc>=9.4.0, there's a new package `libsanitizer` which is pinned to the same version as `gcc_impl_*`, but `libgcc-ng` has only a lower bound of the version as `gcc_impl_*`

[2021-07-29 11:12] #60 closed

[2021-07-29 18:54] jakirkham opened #63 "`GLIBC_2.14` not found (required by gcc)"
It appears the compilers are requiring a newer version of GLIBC. Though I may also be doing something wrong.

- [x] I read [the conda-forge documentation](https://conda-forge.org/docs/user/introduction.html#how-can-i-install-packages-from-conda-forge) and could not find the solution for my problem there.

Issue:

<br/>
Environment (<code>conda list</code>):
<details>

[code]
</details>

<br/>
Deta

[2021-07-29 18:58] beckermr commented on #63
You have packages from defaults in this env. Any idea why?

[2021-07-29 18:59] jakirkham commented on #63
Good catch. No idea. `conda-forge` is listed as higher priority. Included the full log above as well

[2021-07-29 18:59] jakirkham commented on #63
Well and it's also only some packages from `defaults` like `gcc_impl`, which is weird

[2021-07-29 19:00] beckermr commented on #63
Is strict channel priority on?

[2021-07-29 19:01] beckermr commented on #63
I suspect this repodata patch is related: https://github.com/conda-forge/conda-forge-repodata-patches-feedstock/pull/157

[2021-07-29 19:01] jakirkham commented on #63
It's just the `condaforge/linux-anvil-comp7` image. So however that is configured. Though it is what was last cached on my machine. Will retry with a fresh one.

[2021-07-29 19:03] jakirkham commented on #63
Fresh image. Same issue:

<details>

[code]

</details>

[2021-07-29 19:04] beckermr commented on #63
Can you check the condarc for the channel priority setting? We may need to turn on strict in the image.

[2021-07-29 19:05] jakirkham commented on #63
Yeah was just looking at that. It wasn't set. Rerunning with it enabled.

[2021-07-29 19:05] jakirkham commented on #63
Yep this looks better:

<details>

[code]

</details>

[2021-07-29 19:09] jakirkham commented on #63
I think this doesn't show up in CI because we set it [here]( https://github.com/conda-forge/conda-forge-ci-setup-feedstock/blob/42a5c27a532bac0af40f329e64c9df36e3ebaaa4/recipe/run_conda_forge_build_setup_linux#L23-L27 ). It seems worthwhile to include in the Docker images as well though

[2021-07-29 19:10] jakirkham commented on #63
Should add compilation error goes away then 😄

[2021-07-29 19:14] jakirkham commented on #63
Adding PR ( https://github.com/conda-forge/docker-images/pull/187 ) to include this in the Docker images

[2021-07-29 23:20] isuruf commented on #63
We don't support flexible channel priority in conda-forge, so this is a non issue as far as I'm concerned.

[2021-07-29 23:20] #63 closed

[2021-07-30 16:48] charlesbluca opened #66 "System headers not picked up by `gcc`"
- [x] I read [the conda-forge documentation](https://conda-forge.org/docs/user/introduction.html#how-can-i-install-packages-from-conda-forge) and could not find the solution for my problem there.

Issue:
When using a Conda installation of `gcc`, system headers are not picked up - only header directories within the Conda environment are searched:

[code]

This becomes an issue when compiling librar

[2021-07-30 17:09] jakirkham commented on #66
Conda-forge compilers have their own sysroot, which means they look for headers and libraries in a particular location. Usually we [create CDTs for this purpose]( https://github.com/conda-forge/cdt-builds ). Potentially one could work around this (in an admittedly somewhat hacky way) by symlinking headers and libraries into the compiler's sysroot.

Perhaps others have better suggestions

[2021-07-30 22:00] isuruf commented on #66
You can add a flag to gcc to change the sysroot to `/`. Please see gcc docs on this.

[2021-07-30 22:00] #66 closed

[2021-07-30 22:10] jakirkham commented on #66
Thanks Isuru :)

For example...

[code]

Note: ` /usr/include` shows up at the end

[2021-10-08 18:49] mattgodbolt opened #73 "Wrong RPATH on many shared libraries"
- [x] I read [the conda-forge documentation](https://conda-forge.org/docs/user/introduction.html#how-can-i-install-packages-from-conda-forge) and could not find the solution for my problem there.

Issue: all the lib*.so files installed by libgcc-ng, and libgomp, have an unpatched `RPATH` which means (for example), linking against `libasan.so` can yield linker errors (e.g. unable to find the `libst

[2021-10-08 19:00] mattgodbolt commented on #73
Example of the problem:

[code]

but it the `rpath` is actually set:

[code]

it compiles without error. It seems the recipe goes out of its way to disable conda's default `rpath` patching: https://github.com/conda-forge/ctng-compilers-feedstock/blob/7a4f650a775b7248246631a4f94726e50d2df35f/recipe/meta.yaml#L317 - there's not a clear reason why this is not enabled (though there's some other things

[2021-10-08 19:10] isuruf commented on #73
I'm not sure why `binary_relocation` is disabled. Let's try enabling them.

[2021-10-08 22:10] isuruf commented on #73
Fixed in #74

[2021-10-08 22:10] #73 closed

[2021-10-23 15:49] nehaljwani opened #78 "gcc 9.4.0 aarch64 regression"
xref: https://tracker.ceph.com/issues/51147
xref: https://gcc.gnu.org/bugzilla/show_bug.cgi?id=100985

Bad backport as a result of: https://github.com/gcc-mirror/gcc/commit/6f06be1769d45359940c60517f9d55bedd3cb1f4#diff-64cabf812b3706ffd3c5ab7c6048c3617a406f029631d0427d3cfb896fd8dbf3R32

Possible bugfix:
[code]

[2022-01-24 22:23] #78 closed

[2022-01-24 22:24] isuruf opened #80 "@conda-forge-admin, rerender"
- [ ] I read [the conda-forge documentation](https://conda-forge.org/docs/user/introduction.html#how-can-i-install-packages-from-conda-forge) and could not find the solution for my problem there.

Issue:

<br/>
Environment (<code>conda list</code>):
<details>

[code]
</details>

<br/>
Details about  <code>conda</code> and system ( <code>conda info</code> ):
<details>

[code]
</details>

[2022-01-24 22:49] isuruf commented on #80
@conda-forge-admin, rerender

[2022-01-24 22:49] conda-forge-linter commented on #80
Hi! This is the friendly automated conda-forge-webservice.

I just wanted to let you know that I rerendered the recipe in conda-forge/ctng-compilers-feedstock#81.

[2022-01-24 22:49] #80 closed

[2022-01-26 08:58] xhochy commented on #6
https://salsa.debian.org/toolchain-team/gcc/-/blob/gcc-7-debian/debian/patches/pr83204.diff should fix it.

[2022-01-28 16:46] xhochy commented on #48
@nehaljwani did you ever get to report this upstream?

[2022-01-29 03:52] nehaljwani commented on #48
At the time when I hit the problem, I couldn't reproduce it with a compiler built from source (not using the recipe), so couldn't report it upstream.

[2022-02-13 07:47] xhochy opened #83 "@conda-forge-admin, please add user @xhochy"
@conda-forge-admin, please add user @xhochy

[2022-02-13 12:06] #83 closed

[2022-02-14 02:22] hmaarrfk commented on #48
I hit this https://github.com/conda-forge/fish-feedstock/pull/29 here too.

[2022-02-24 10:40] awvwgk opened #87 "FC_FOR_BUILD not set when cross-compiling for Linux/{ppc64le,aarch64}"
- [x] I read [the conda-forge documentation](https://conda-forge.org/docs/user/introduction.html#how-can-i-install-packages-from-conda-forge) and could not find the solution for my problem there.

Issue:

When compiling native binaries in a cross-compilation the `CC_FOR_BUILD` and `CXX_FOR_BUILD` variables point to the correct native compilers, however the `FC_FOR_BUILD` is not available.

Environ

[2022-02-24 16:42] isuruf commented on #87
Should be easy to add. I've never seen a package needing FC_FOR_BUILD and that's why I didn't add it.

[2022-03-26 00:07] timsnyder commented on #24
@beckermr I don't know if anyone else ever runs into this or cares but I'm finally coming back around to working on some conda-forge stuff and I could update my PR from the xref'd issue.  Just let me know if you've heard anyone else making noise about it and I'll prioritize.

[2022-03-26 00:22] beckermr commented on #24
If you are willing that'd be great!

[2022-03-26 00:27] beckermr commented on #24
I thought this would need to be done in the activation feedstock. This issue might be in the wrong place.

[2022-03-26 00:29] timsnyder commented on #24
Yeah, it would need to be done in the activation feedstock.  I'll move it over there.

[2022-03-26 00:32] timsnyder commented on #24
Moved to https://github.com/conda-forge/ctng-compiler-activation-feedstock/issues/70

[2022-03-26 00:33] timsnyder commented on #24
And I guess I'm not allowed to close issues since I'm not a maintainer...

[2022-03-26 00:43] #24 closed

[2022-03-26 00:43] timsnyder opened #89 "Where does GCC_CONFIGURE_OPTIONS come from in build.sh?"
https://github.com/conda-forge/ctng-compilers-feedstock/blob/1e2c3c8e8332027b1eb3f14bdfecdf820400976b/recipe/build.sh#L122

I see where it was defined higher in build.sh when originally added in #56.  Any objections to taking it back out @isuruf ?  I was getting confused trying to figure out where it was coming from.

[2022-03-26 00:43] beckermr commented on #24
Thank you!

[2022-03-26 01:51] timsnyder opened #90 "Let's configure GCC to work straight from the box"
### Comment:

When we were working with the Continuum folks during the development of conda-build 3, my colleagues and I suggested rather strongly that `-I $PREFIX/include` and the 4 required linking arguments `-Wl,-rpath,$PREFIX/lib -Wl,-rpath-link,$PREFIX/lib -Wl,-disable-new-dtags -L $PREFIX/lib` be built into the configuration of GCC so that when someone does a `conda install gcc` and then tri

[2022-03-26 03:42] timsnyder commented on #90
@isuruf , I see that you enabled binary relocation in https://github.com/conda-forge/ctng-compilers-feedstock/pull/74 but that only fixes RPATH and things like setting `--with-local-prefix` and `--with-spec` can end up embedding the PREFIX in binaries in non-RPATH locations that need to be patched on *nix.  Similarly in binutils, the ld SEARCH-DIR entries (see `$LD --verbose | grep SEARCH_DIR`) co

[2022-03-26 04:04] jakirkham commented on #90
Have you tried the `compilers` package?

[2022-03-26 04:28] timsnyder commented on #90
Yes.  And `compilers` is a nice way to abstractly be able to install the compilers as an end user but it still relies on having the activation scripts set environment variables that work in many cases but I still feel like it would be beneficial for `$PREFIX/lib`(`-L`, `-rpath`, and `-rpath_link`), `$PREFIX/include` and `-disable_new_dtags` to to be baked into the tools because there are use-cases

[2022-03-26 11:06] beckermr commented on #90
I think the original design here was correct. Building the compilers themselves is quite finicky. Some of them needed to be built by hand in the past, for example. At a practical level separating out the flags from the builds is very useful.

We could add patches to embed values from a special flags env var automatically (say `CONDA_TOOLCHAIN_FLAGS` or whatever) and then provide the correct values

[2022-03-26 12:01] timsnyder commented on #90
I definitely agree that having the FLAGS set via activation scripts is the right way to go for everything that conda-forge is doing and it is definitely the preferred pattern for build systems IMHO.  However, there are many things I have run into since conda-build 3.0 was released that "just work" when a non-relocatable GCC toolchain is found but don't when the conda toolchain is.  It always boils

[2022-03-26 12:05] beckermr commented on #90
My solution of a special env var that has the small set of flags you want to pass in it and patching the compiler to read this env var if it is present solves your issue without permanent changes to the compiler or any build system. The compiler itself would read the env var as needed.

[2022-03-26 12:15] timsnyder commented on #90
@beckermr I think it would depend on exactly how and where it was implemented.  Do you know where you would make your patch?  I'd like to try it.

[2022-03-26 12:18] beckermr commented on #90
I do not know the tool chain well enough to make the patch.

Fwiw we already patch clang to point to a special conda OS X sdk through an env var if it is set.

[2022-03-26 12:30] timsnyder commented on #90
Fair enough.  I'll look to see if I can find a spot to make the patch.  From what I know about the guts of gcc it would be challenging to take a single env var of command-line options and apply it in a single spot to get the results we want.  It could be done with a few lines in the specfile but that doesn't look like a simple list of cmdline options.  I'd suggest that we possibly have `CONDA_LIBR

[2022-03-26 12:39] beckermr commented on #90
-1 on this implementation. It conflates two different things. We want this option to be totally separate from anything else so that folks can turn it off independently.

[2022-03-26 14:48] isuruf commented on #90
-1 on env vars like that or patching GCC (except adding specs files). conda only env vars and patches are hard to debug and ugly.

First of all, we already have `-L$BUILD_PREFIX/lib` and `-Wl,-rpath,$BUILD_PREFIX/lib` added by default. This is not intended for using all conda libraries, but mostly for `libgcc_s.so, libstdc++.so, libgfortran.so`.

Adding `-isystem $BUILD_PREFIX/include` for example

[2022-03-26 14:53] timsnyder commented on #90
Ok.  I'll see what I can come up with.  At a minimum, I'll at least have a better understanding of why things are the way they are.  Thanks everyone for taking time to read and respond.

[2022-04-06 11:42] timsnyder opened #92 "@conda-forge-admin, please add user @timsnyder"
### Additional comment:

_No response_

[2022-04-06 11:42] conda-forge-linter commented on #92
Hi! This is the friendly automated conda-forge-webservice.

I just wanted to let you know that I added user @timsnyder in conda-forge/ctng-compilers-feedstock#93.

[2022-04-06 11:46] timsnyder commented on #20
I think this was fixed in #39 back in August 2020 @jeffwong-nflx.  I hope you got it sorted out.

[2022-04-06 12:02] #92 closed

[2022-04-06 12:23] timsnyder opened #94 "Debug build of libgomp?"
### Comment:

@conda-forge/ctng-compilers maintainers,  I'm debugging a segfault issue in a simple libgomp program.  I have a feeling `-fsanitize=threads` might help me pinpoint the issue.  I'm reading to use TSan, libgomp  needs to be recompiled with `--disable-linux-futex` (something you would never want to have in a production build).

Since I'm going to muck around with building this locally f

[2022-04-06 15:04] #20 closed

[2022-04-07 18:13] #90 closed

[2022-04-10 21:47] hmaarrfk opened #95 "libGL Error with Ubuntu 22.04"
### Comment:

### Solution to issue cannot be found in the documentation.

- [X] I checked the documentation.

### Issue

It seems that Ubuntu 22.04 doesn't play well with openGL from conda-forge.

[code]

[code]

While the plot shows up, other hardware accelerate stuff (like using vispy) doesn't work. I didn't know where else to post this so I figured I would post it to matplotlib since it seems

[2022-04-11 00:18] jakirkham commented on #95
What version of GCC is Ubuntu 22.04 using?

[2022-04-11 01:07] hmaarrfk commented on #95
[code]

[2022-04-11 01:46] hmaarrfk commented on #95
It seems like it is using `GLIBCXX_3.4.30` but this is the only note I can find about it:
https://gcc.gnu.org/pipermail/gcc-patches/2021-April/568635.html

[2022-04-11 13:58] timsnyder commented on #95
@hmaarrfk, can you run `apt list --installed >& apt-packages.txt` and attach that to this ticket?  I'm trying to repro this on an Ubuntu 22.04 VM

[2022-04-11 14:00] hmaarrfk commented on #95
[apt-packages.txt](https://github.com/conda-forge/ctng-compilers-feedstock/files/8464720/apt-packages.txt)
Thank you for your help!

[2022-04-11 15:48] timsnyder commented on #95
@hmaarrfk , to fully reproduce what you're seeing, I probably will need the contents of your `/etc/apt/` tree.  It looks like you have extra sources configured.  I decided to just see if I could repro it without matching the system packages for now.

From AMI `ubuntu/images-testing/hvm-ssd/ubuntu-jammy-daily-amd64-server-20220407` on AWS, I:
[code]
rebooted the vm, fired up a vncserver, installed

[2022-04-11 16:06] timsnyder commented on #95
I guess a good question would be why the linker isn't linking against the libLLVM-13.so we provide?  I don't see  `libLLVM-13.so.1` being provided by the `libllvm-13` conda package that I have in my `dev` environment:
[code]
I'm going to go look at the clang recipes to see what's up with that.

[2022-04-11 16:26] hmaarrfk commented on #95
It could also be a bug with ubuntu.

I'm somewhat testing out the waters before starting to install ubuntu 22.04 on all our computers. I can't seem to find much documentation on `GLIBCXX_3.4.30` so maybe it isn't released yet officially?

It isn't stated in https://gcc.gnu.org/onlinedocs/libstdc++/manual/abi.html and I can't find documentation from LLVM (though i'm new to using LLVM anyway).

[2022-04-11 16:28] timsnyder commented on #95
Looks like the `install-llvm.sh` script might need to be tweaked at https://github.com/conda-forge/llvmdev-feedstock/blob/e779e84bfa61bf2fdf62ff3660b2dc2579ed9c53/recipe/install_llvm.sh#L16-L18

@isuruf which of our packages (if any) are supposed to be supplying the `libLLVM-${VER_ARR[0]}.so.${SONAME}` symlink?

Maybe, but it seems like we are missing a symlink in our package.

[2022-04-11 16:34] timsnyder commented on #95
`ln -s libLLVM-13.so $CONDA_PREFIX/lib/libLLVM-13.so.1` removed the linking error for me.

[2022-04-11 17:08] timsnyder commented on #95
It looks like Ubuntu is ending up with a different SONAME in libLLVM-13.so than we do.  This is strange.

[2022-04-11 17:41] hmaarrfk commented on #95
I haven't had a chance to read it all, but it seem quite related to: https://github.com/ValveSoftware/steam-runtime/issues/478

[2022-04-11 17:56] timsnyder commented on #95
Ugh.  I guess in their package, the debian folks have a patch that appends .1 onto the shared library SONAME https://salsa.debian.org/pkg-llvm-team/llvm-toolchain/-/blob/11/debian/patches/0044-soname.diff and it looks like they have been doing this for awhile (the last edit to that patch was ~2 years ago).   Looks like it was originally added in https://salsa.debian.org/pkg-llvm-team/llvm-toolchai

[2022-04-11 18:11] timsnyder commented on #95
I guess what ubuntu is doing isn't any worse than Centos/RHEL:
[code]

[2022-04-11 18:22] isuruf commented on #95
This issue is that we are not shipping `libstdcxx-ng=12.0.1`. PRs welcome to update the recipe to 12.0.1

[2022-04-11 18:28] timsnyder commented on #95
Thanks for chiming in @isuruf

[2022-04-11 18:49] timsnyder commented on #95
@isuruf, I started looking at opening a PR to update the recipe to provide `libstdcxx-ng=12.0.1` but how do we do that when gcc 12 hasn't been released yet?  Should we start building from the nightly snapshots?  I guess that's what Ubuntu 22.04 is doing based on the version of the installed libstdc++6 I have:
[code]

I'll create a PR that targets the rc channel with the latest snapshot of gcc12 br

[2022-04-11 18:58] isuruf commented on #95
Ah. Never mind then. @hmaarrfk, your only option is to delete `$PREFIX/lib/libstdc++*` as you did.

[2022-04-11 19:04] timsnyder commented on #95
And I guess after looking at https://conda-forge.org/docs/maintainer/knowledge_base.html#pre-release-version-sorting again that I should name the version 12.0.1dev20220403?  Seems a little strange that Ubuntu is shipping pre-release libstdc++ in 22.04 given that gcc 12 won't release before 22.04 comes out of beta.

[2022-04-11 19:09] timsnyder commented on #95
Yeah, looking at what it would take to create a dev version of the ctng_compilers_feedstock, I'd rather hold off until gcc12 is released in a few months...

[2022-04-11 19:27] hmaarrfk commented on #95
hmm. Ok.

I understand and likely agree that I jumped the boat too early.

Would a solution for me be to: `libstdcxx-ng` version 12.0.1 that doesn't provide any files at all but depends on `__glibc=2.35=0`?

[2022-04-11 19:29] isuruf commented on #95
`__glibc=2.35.0` doesn't guarantee that `libstdcxx-ng` is 12

[2022-04-11 19:34] hmaarrfk commented on #95
Can i maybe depend on the user_agent?
[code]

[2022-04-11 19:36] isuruf commented on #95
You can create an empty `libstdcxx-ng` locally and use that locally.

[2022-04-11 19:40] hmaarrfk commented on #95
Thank you all for your help troubleshooting this.

I'm not sure if we will be able to miss this bug. I think many people will install ubuntu 22.04 in late april.

Well given the constraints of time, our desired effort to support experimental gcc, I'm going to upload my own libstdcxx-ng to my channel.

Users that want that can copy the file can do so from
https://anaconda.org/mark.harfouche/libstdc

[2022-04-25 18:25] kkraus14 opened #97 "gcc 7.5.0 have `GLIBC_2.14` symbols"
### Solution to issue cannot be found in the documentation.

- [X] I checked the documentation.

### Issue

Looks like the recent gcc 7.5.0 builds somehow got `GLIBC_2.14` symbols in them which breaks using them in cos6 environments:
[code]

This is breaking the PR here: https://github.com/conda-forge/nvcc-feedstock/pull/80

cc @beckermr @xhochy @jakirkham @isuruf to consolidate discussion from gi

[2022-04-25 21:33] jakirkham commented on #97
Relevant [Gitter discussion]( https://gitter.im/conda-forge/conda-forge-compilers?at=6266d2eac61ef0178edc0ac0 )

[2022-04-30 15:55] isuruf commented on #95
There's a release candidate now. https://gcc.gnu.org/pub/gcc/snapshots/12.1.0-RC-20220429

[2022-05-06 18:57] isuruf commented on #95
gcc 12.1 is released now. PRs welcome

[2022-05-12 02:53] #95 closed

[2022-05-13 17:12] jakirkham opened #99 "Assembly error (on Linux ARM): Error: unknown pseudo-op: `.alig'"
### Solution to issue cannot be found in the documentation.

- [X] I checked the documentation.

### Issue

Am seeing the following assembly error on CI when building for Linux ARM ( https://github.com/conda-forge/arrow-cpp-feedstock/pull/723#issuecomment-1123276844 ):

[code]

More details in [this CI log]( https://app.travis-ci.com/github/conda-forge/arrow-cpp-feedstock/jobs/569629925 ).

### In

[2022-05-14 23:07] isuruf commented on #99
Not an issue of the compiler. The compiler backend (cc1plus) got killed by a signal (maybe it was using too much memory?) and the front end (g++) passed the incomplete file to the assembler.

[2022-05-14 23:07] #99 closed

[2022-05-18 07:08] jakirkham commented on #99
Good eye. Missed that. Yeah oversubscription seems like a potential cause. Will try dialing back the build threads used further. Thanks! 🙏

[2022-05-27 16:43] isuruf opened #100 "Update to 9.5.0"
Released today

[2022-06-22 13:27] beckermr opened #101 "@conda-forge-admin rerender"
### Additional comment:

_No response_

[2022-06-22 13:27] conda-forge-linter commented on #101
Hi! This is the friendly automated conda-forge-webservice.

I just wanted to let you know that I rerendered the recipe in conda-forge/ctng-compilers-feedstock#102.

[2022-06-22 14:05] #101 closed

[2022-07-11 13:58] XuehaiPan opened #103 "[Bug] `gxx` 11.2.0 is not compatible with `nvidia::cuda-nvcc`"
### Solution to issue cannot be found in the documentation.

- [X] I checked the documentation.

### Issue

I'm trying to include CXX compilers and NVCC compilers in my environment file to build C extensions for Python.

Steps to reproduce the issue:

- Test `nvcc` with `g++` 11.2.0 (ref https://docs.nvidia.com/cuda/cuda-installation-guide-linux/index.html#system-requirements):

`CMakeLists.txt`:

[2022-08-03 05:15] OlivierMiriel commented on #95
May the issue still be on Ubuntu 22.04 ?
I just install and can't run gmsh. Only doing ' sudo gmsh' can launch gmsh.
If I try 'gmsh' alone in the command line then I get the following error:

[code]

how to solve this ?
do I need to go back to Ubuntu 20.04 ?
thanks

[2022-08-03 06:57] traversaro commented on #95
@OlivierMiriel can you post you environment (i.e. the output of conda list?)

[2022-08-08 06:42] chrisburr commented on #100
Was done in https://github.com/conda-forge/ctng-compilers-feedstock/pull/104

[2022-08-08 06:42] #100 closed

[2022-08-10 13:38] upsj opened #105 "libstdc++ is missing `gdb` pretty-printer integration"
### Solution to issue cannot be found in the documentation.

- [X] I checked the documentation.

### Issue

On most system package managers, libstdc++ provides an automatic integration into `gdb` by placing a file into `share/gdb/auto-load` that loads the pretty-printers that are present in `share/gcc-x.x.x/python/libstdcxx`. This integration seems to be missing from conda, which makes debugging b

[2022-08-10 19:06] isuruf commented on #105
The file is included wrongly as `$PREFIX/lib/*-gdb.py`. Can you figure out the reason and send a PR to fix it?

[2022-08-11 09:41] upsj commented on #105
I am somewhat new to conda, so I have two questions to investigate this further
1. I ran build-locally.py successfully. How do I now install the newly built packages, to see where they are placed?
2. Do we need to check whether we're cross-compiling? The commented out
[code]
seems to suggest so, but it might need the target triplet `x86_64-conda-linux-gnu` as a prefix, to match the location of `li

[2022-08-11 14:11] isuruf commented on #105
It seems like gxx_impl_linux-64 9.5.0 should work fine. Can you try updating gxx_impl_linux-64 in your env?

[2022-08-12 14:14] upsj commented on #105
Not sure what you're saying - I built gxx_impl_linux-64 9.5.0, and it contains the correct file, but in the wrong location. I'll see if I can fix it. In general, putting the file into `auto-load` regardless of whether we're cross-compiling or not seems safe, since the (not binary, but structural) layout of the types is pretty much architecture-independent.

[2022-09-01 09:13] Maltergate commented on #95
Hi,
I get the same problem on Ubuntu 22.04.1. I installed gcc-12 'sudo apt install gcc-12' but didn't solve the issue.

Here's my conda-list:
[code]
I get the following error:

[code]

[2022-09-09 10:40] ShantanuKodgirwar commented on #95
I am also facing the same issue. In fact I read this thread and forcefully bumped up the gcc to 12.0.1 (Ubuntu 22.04 ships with 11.2.0). It did not fix it.

[2022-09-09 11:13] traversaro commented on #95
@ShantanuKodgirwar can you post your environment (i.e. the output of conda list?) and your exact error? Thanks!

[2022-09-09 11:25] ShantanuKodgirwar commented on #95
Sure. Although I am actually using a poetry virtual environment. So I'll give that list.
First of all the error message which is really same as OP.
[code]
Here is the result of `pip list` in my virtual env.
[code]

[2022-09-09 11:44] traversaro commented on #95
If you are using `poetry`, I doubt the problem is related to what is discussed here. In the issue discussed here, the `libstdc++.so` provided by conda-forge is used in place of the one provided by the system, but the system OpenGL driver required some symbols that were specific of GCC 12 (the version used by the system `libstdc++.so`), so the loading failed. Updating the conda-forge's `libstdc++.s

[2022-09-09 11:56] ShantanuKodgirwar commented on #95
I swapped up the environment with a conda environment and I face the same error.

[2022-09-09 11:59] traversaro commented on #95
Then can you provide the conda list?

[2022-09-09 12:13] ShantanuKodgirwar commented on #95
I am sorry. I am not well versed with libGL. I tried to write `LIBGL_DEBUG=verbose` in terminal before running the file (also after), didn't result in anything other than the below error.
[code]

The output of `conda list` is
[code]

[2022-09-09 13:10] traversaro commented on #95
You need to write `LIBGL_DEBUG=verbose` right before the command that you are launching, not before. If you speficy the command that is giving you problems, I can show.

[2022-09-09 13:22] ShantanuKodgirwar commented on #95
Ahhh. Gotcha. :)

The full error message after the command gives this
[code]

[2022-09-09 14:21] traversaro commented on #95
The relevant message is:
[code]

From the version numbers, I guess you are using the `default`  channels, instead of the `conda-forge`  channel? To benefit from the fix discussed here, you should switch to use the `conda-forge` channel, for example passing `-c conda-forge` when you create the environemnt.  Apparently issue described in this issue was not solved in the `default` channel.